/*
RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/*
GENERAL
*/
html{
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    max-width: 1000px;
    margin: 0 auto;

}
header,
header a,
footer,
footer a{
    color: white;
}
a {
    text-decoration: none;
}

/*
HEADER
*/

header {
    background-color:orange;
   
}
header a {
    font-weight: bold;
}
header ul li {
    display: inline-block;
}
header img {
    height: 35px;
}


.header-container{
display: flex;
justify-content: space-between;
align-items: center;
}


/*
FOOTER
*/

footer{
    background-color: #222;
}